* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

:root {
   /* colors */
   --primary-50: #e0fcff;
   --primary-100: #bef8fd;
   --primary-200: #87eaf2;
   --primary-300: #54d1db;
   --primary-400: #38bec9;
   --primary-500: #2cb1bc;
   --primary-600: #14919b;
   --primary-700: #0e7c86;
   --primary-800: #0a6c74;
   --primary-900: #044e54;
 
   /* grey */
   --grey-50: #f0f4f8;
   --grey-100: #d9e2ec;
   --grey-200: #bcccdc;
   --grey-300: #9fb3c8;
   --grey-400: #829ab1;
   --grey-500: #627d98;
   --grey-600: #486581;
   --grey-700: #334e68;
   --grey-800: #243b53;
   --grey-900: #102a43;
   /* rest of the colors */
   --black: #222;
   --white: #fff;
   --red-light: #f8d7da;
   --red-dark: #842029;
   --green-light: #d1e7dd;
   --green-dark: #0f5132;
 
   /* fonts  */
   --headingFont: 'Roboto Condensed', Sans-Serif;
   --bodyFont: 'Cabin', Sans-Serif;
   --small-text: 0.875rem;
   --extra-small-text: 0.7em;
   /* rest of the vars */
   --backgroundColor: var(--grey-50);

   /*   */
   --fluid-width: 90vh;
   --max-width: 1120px;
   --primary-font: 12px;
}

body {
  margin: 0;
  font-family: var(--bodyFont);
  font-size: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-main {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 30px;
}

.logo-container {
  display: flex;
  justify-content:flex-start;
  margin: 30px 30px;
  cursor: pointer;
  width: 70px;
}

.logoImg {
  width: 50px;
  height: 50px;
}

.logo-text {
  padding-top: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.6px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
