* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

:root {
   /* colors */
   --primary-50: #e0fcff;
   --primary-100: #bef8fd;
   --primary-200: #87eaf2;
   --primary-300: #54d1db;
   --primary-400: #38bec9;
   --primary-500: #2cb1bc;
   --primary-600: #14919b;
   --primary-700: #0e7c86;
   --primary-800: #0a6c74;
   --primary-900: #044e54;
 
   /* grey */
   --grey-50: #f0f4f8;
   --grey-100: #d9e2ec;
   --grey-200: #bcccdc;
   --grey-300: #9fb3c8;
   --grey-400: #829ab1;
   --grey-500: #627d98;
   --grey-600: #486581;
   --grey-700: #334e68;
   --grey-800: #243b53;
   --grey-900: #102a43;
   /* rest of the colors */
   --black: #222;
   --white: #fff;
   --red-light: #f8d7da;
   --red-dark: #842029;
   --green-light: #d1e7dd;
   --green-dark: #0f5132;
 
   /* fonts  */
   --headingFont: 'Roboto Condensed', Sans-Serif;
   --bodyFont: 'Cabin', Sans-Serif;
   --small-text: 0.875rem;
   --extra-small-text: 0.7em;
   --textColor: var(--grey-900);
   /* rest of the vars */
   --backgroundColor: var(--grey-50);

   /*   */
   --transition: 0.3s ease-in-out all;
   --borderRadius: 0.25rem;
   --fluid-width: 1200px;
   --max-width: 1120px;
   --primary-font: 18px;
   /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-6: 0 1px 3px 0 rgba(53, 52, 52, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-7: 0 4px 6px -1px rgba(151, 151, 151, 0.1),
    0 2px 4px -1px rgba(116, 93, 93, 0.06);
}

body {
  margin: 0;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-size: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/*    HEADER    */

.header-section-center {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 6;
  text-align: center;
  justify-content: center;
 /* transform: translateY(-50%);*/
}

.header-logo {
  justify-content: center;
  align-items: center;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}

.header-menu-icon:checked + label,
.heaader-menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.header-menu-icon:checked + label:before,
.header-menu-icon:not(:checked) + label:before{
  cursor: pointer;
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 60px;
  right: 70px;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-menu-icon:checked + label:after,
.header-menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 40px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header-menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.header-menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-header{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.header-menu-icon:checked ~ .nav-header {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-header ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav-header ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav-header ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav-header ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav-header ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav-header ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav-header ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav-header ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav-header ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav-header ul li a:hover:after{
  width: 100%;
}


.header-menu-icon:checked ~ .nav-header  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.header-menu-icon:checked ~ .nav-header ul li:nth-child(1){
  transition-delay: 1400ms;
}
.header-menu-icon:checked ~ .nav-header ul li:nth-child(2){
  transition-delay: 1480ms;
}
.header-menu-icon:checked ~ .nav-header ul li:nth-child(3){
  transition-delay: 1560ms;
}
.header-menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}

/* FINISH HEADER  */


/* CSS Main page */
.container-main {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 10rem;
}
.container-main > h1 {
  margin: 0;
}

.page {
  min-height: calc(100vh - 15rem);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.logo-container {
  display: flex;
  justify-content:flex-start;
  margin: 10px 30px;
  cursor: pointer;
  width: 70px;
}

.main-img {
  display: block;
  margin-top: 30px;
}

.main-description {
  padding-top: 15px;
}

/*  */

.img {
  object-fit: cover;
  width: 100%;
  display: block;
}


.logoImg {
  width: 50px;
  height: 50px;
}

.logo-text {
  padding-top: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #002639;
}

.logo-text-sec {
  border-radius: 40px ;
  padding: 15px;
  padding-top: 12px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #ffeba7;
  font-weight: 700;
  letter-spacing: 10px;

box-shadow: var(--shadow-6);
transition: var(--transition)
}

.logo-text-sec:hover {
box-shadow: var(--shadow-7);
}

/*  Register Component   */

.full-page {
  min-height: 100vh;
}

.form {
  background: var(--white);
  width: 90vh;
  margin: 3rem auto;
  padding: 2rem 2.5rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  transition: var(--transition)
}

.form:hover {
  box-shadow: var(--shadow-4);
}
/* Finish Register Component  */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
